.landpage {
  text-align: center;
  background-image: url("../images/h_img.jpg");
  background-size: cover;
  color: white;
}

.about {
  text-align: center;
  margin-top: 5%;
}

.services {
  background-image: url("../images/s_image.jpg");
  text-align: center;
  background-size: cover;
  color: white;
  margin-top: 10%;
  height: 200px
}

.row {
  text-align: center;
}

.contacts {
  text-align: center;
  background-image: url("../images/c_image.jpg");
}

#p1, #p2, #p3 {
  display: none;
}

body {
  cursor: pointer;
}

#last a:hover {
  background-color: orange;
  mar
}
}

#last {
  margin-left: 350px;
}

img:hover .overlay {
  opacity: 1;
}

.img-thumbnail:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  background-color: black;
  z-index: 1;
}
